@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
      @apply text-8xl;
    }
    h2 {
      @apply text-6xl;
      @apply font-bold;
    }
  }

.gradbg {
    background-image: url('../images/bg.png');
    background-position: center;
    background-size: cover;
}

@keyframes emerge-one {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
.animate-one {
    animation: emerge-one 5s normal infinite;
}

.primary-text {
    color: #522FA4;
}

.pdng-0 {
    padding: 0 !important;
}

.submit-button {
    background-color: #7B36FA;
    margin-top: 20px;
    color: #fff;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 14px;
    font-weight: 400;
    border: none;
    cursor: pointer;
}

.input-field{
    padding: 20px 20px 10px 0px !important;
    font-size: small;
}

.input-field:focus {
    border-color: #522FA4 !important;
}

.submit-button:hover {
    background-color: #522FA4;
    color: #fff;
    border: none;
}

.submit-button:disabled {
    background-color: #522FA4;
    color: #fff;
    border: none;
}

@media (min-width: 768px) {
    .md-px-20 {
        padding-left: 5rem/* 80px */;
        padding-right: 5rem/* 80px */;
    }
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

@media (min-width: 768px) {
    .md-flex-row {
        flex-direction: row;
    }
}
.justify-between {
    justify-content: space-between;
}
.items-center{
    align-items: center;
}
.py-6 {
    padding-top: 1.5rem/* 24px */;
    padding-bottom: 1.5rem/* 24px */;
}
.px-8 {
    padding-left: 2rem/* 32px */;
    padding-right: 2rem/* 32px */;
}